

<!-- Toolbar -->
<html lang="en" class="theme-a has-gradient has-pattern">
	<body>
		<div id="root">
			<header id="top">
				<h1><a href="#" accesskey="h"><img src="../assets/images/ic_launcher.png" alt="Placeholder" class="centerImage" width="150" height="150" style="alignment: center"></a></h1>
				<nav id="skip">
					<ul>
						<li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
						<li><a href="#content" accesskey="c">Skip to content (c)</a></li>
						<li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
					</ul>
				</nav>
				<nav id="nav">
					<ul>
						<li><a accesskey="1" href="index.html">Home</a> <em>(1)</em></li>
						<li><a accesskey="2" href="portfolio.html">Portfolio</a> <em>(2)</em>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Lorem ipsum dolor</a></li>
							</ul>
						</li>
						<li><a accesskey="3" href="blog.html">Blog</a> <em>(3)</em></li>
						<li><a accesskey="4" href="contact.html">Contact</a> <em>(4)</em></li>
						<li class="a"><a accesskey="5" href="#">Get app</a> <em>(5)</em></li>
					</ul>
				</nav>
			</header> 
			<article id="welcome">
				<figure class="mobile-c"><img src="../assets/images/splashscreen.gif" alt="Placeholder" width="352" height="628"></figure>
				<h2><span>So</span>mali Kids</h2>
				<p>Learn somali for kids</p>
				<ul class="download-a a">
					<li class="as"><a rel="external" href="./">Download on the App Store</a></li>
					<li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
				</ul>
			</article>
			<section id="content" class="a">
				<article>
					<header class="heading-a">
						<h3><span class="small">About</span> <span class="strong">About</span> Somali Kids App</h3>
						<p>This is a colorful app with nice background music and Swwwwwwedish speech. The app offers seven decks of cards to browse through. Here are over 100 different words, concepts and phrases for the younger children. Among other things, you get to learn to count to 10, recognize letters and geometric shapes. The app is child-friendly but lacks rewards.</p>
					</header>
					<header class="heading-a">
						<h3><span class="small">Screens</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
						<p>See what’s included in the App helooooo</p>
					</header>
				</article>
					<div class="news-d">
						<article>
							<header>
								<figure><img src="../assets/images/screen3.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
						<article>
							<header>
								<figure><img src="../assets/images/screen4.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
						<article>
							<header>
								<figure><img src="../assets/images/screen5.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
						<article>
							<header>
								<figure><img src="../assets/images/screen7.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
						<article>
							<header>
								<figure><img src="../assets/images/fruitsscreen.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
						<article>
							<header>
								<figure><img src="../assets/images/animalsscreen.png" alt="Placeholder" width="310" height="215"></figure>
								<h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
							</header>
							<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						</article>
					</div>
				<article class="vb">
					<header class="heading-a b">
						<h3><span class="strong">Get</span> app</h3>
						<p>Choose your native platform and get started!</p>
					</header>
					<ul class="download-a a">
						<li class="as"><a rel="external" href="./">Download on the App Store</a></li>
						<li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
					</ul>
					<figure class="sticky-b b"><img src="temp/j.png" alt="Placeholder" width="624" height="680"></figure>
					<p class="counter"><span>0238</span> Downloads</p>
				</article>
			</section>
			<footer id="footer">
				<figure><img src="temp/placeholder-b.png" alt="Placeholder" width="174" height="55"></figure>
				<h3>Follow us</h3>
				<ul class="social-a">
					<li class="fb"><a rel="external" href="./">Facebook</a></li>
					<li class="tw"><a rel="external" href="./">Twitter</a></li>
					<li class="in"><a rel="external" href="./">Instagram</a></li>
				</ul>
				<ul class="download-a">
					<li class="as"><a rel="external" href="./">Download on the App Store</a></li>
					<li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
				</ul>
				<p>&copy; <span class="date">2015</span> ReTouch App. All rights reserved. <a href="./">Privacy Policy</a> <a href="./">Terms of Service</a></p>
			</footer>
		</div>
        <script>
            head.load('javascript/jquery.js','javascript/tf.js','javascript/scripts.js','javascript/mobile.js')
        </script>
	</body>
</html>
