
<!-- Toolbar -->
<html lang="en" class="theme-a has-gradient has-pattern">
	<body>
		<div id="root">
			<header id="top">
				<h1><a href="#" accesskey="h"><img src="../assets/images/ic_launcher.png" alt="Placeholder" class="hideOnsmall" width="150" height="150" style="alignment: center"></a></h1>
        <nav id="skip">
					<ul>
						<li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
						<li><a href="#content" accesskey="c">Skip to content (c)</a></li>
						<li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
					</ul>
				</nav>
        <div>
        </div>
				<nav id="nav">
					<ul>
						<li><a accesskey="1" href="index.html">Home</a> <em>(1)</em></li>
						<li> <em>(2)</em>
						</li>
						<li class="a"><a accesskey="5" href="#">Get app</a> <em>(5)</em></li>
					</ul>
				</nav>
			</header>
      <router-outlet></router-outlet>
			<footer id="footer">
				<h3>Follow us</h3>
				<ul class="social-a">
					<li class="fb"><a rel="external" href="./">Facebook</a></li>
					<li class="tw"><a rel="external" href="./">Twitter</a></li>
					<li class="in"><a rel="external" href="https://www.instagram.com/somalikidsapp/">Instagram</a></li>
				</ul>
				<ul class="download-a">
					<li class="as"><a rel="external" href="./">Download on the App Store</a></li>
					<li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
				</ul>
				<p>&copy; <span class="date">2021</span> Somali Kids. All rights reserved. <a href="/privacy">Privacy and terms of use</a> <a href="/">Home</a></p>
			</footer>
		</div>
    <div>
    </div>
	</body>
</html>
