<article id="featured">
  <h2>Terms of Use</h2>
</article>
<section id="content" class="news-b">
  <header class="heading-a">
    <h3> <span class="strong">Terms of Use</span></h3>
  </header>
  <ul>
    <li><strong>1.1:</strong>You need access to internet to access the service. The service means that you can stream content, such as cartoons and read, to your tablet, smartphone or other similar equipment.
      "The Website and the App state which products (“Offerings”) are offered from time to time within the Service. 2.2 You have the opportunity to access the Offer in the Subscription you have chosen via your app. 2.3 You are responsible for updating your mobile device with the software required from time to time to take part in the Service. 2.4 You are always responsible for all internet fees and charges for data traffic that may be added when using the Service.</li>
    <li><strong>2.1:</strong>You agree that it is prohibited to: Copy, reproduce, record, make available to the public or otherwise dispose of any part of the Service or its contents in a manner not expressly permitted by these Terms and Conditions or by what is stated in your Subscription. Engage in (reverse engineering) or create software that is dependent on or derived from the Service or any part thereof. Try to gain unauthorized access to the App, the Website, the server on which they are stored or any server, computer or database connected to them. Deliberately inserting viruses, Trojans, Internet worms, or other material that is intended to cause harm or is otherwise technically harmful. Attacking the Service through Denial of Service attacks, including but not limited congestioto, n attacks</li>
    <li><strong>3.1:</strong> You may not remove or modify any notice of copyright, trademark or other intellectual property rights in the Service.</li>
    <li><strong>4.1:</strong> You do not have the right to assign or sublicense your rights under these Terms and Conditions</li>

  </ul>
  <br>

</section>


