<article id="featured">
  <h2>PRIVACY POLICY</h2>
</article>
<section id="content" class="news-b">
  <header class="heading-a">
    <h3> <span class="strong">Privacy and terms of use</span></h3>
  </header>
  <br>
  <p>Your privacy is very important to us, and we take it seriously. Please read our Privacy Policy below and let us know if you have any questions or other feedback regarding it.</p>
  <br>
  <p>PRIVACY POLICY</p>
  <ul>
    <li><strong>Personal information:</strong> In our ad-supported apps we use the IP address and mobile advertising ID of your device in order to show non-personalized ads. Please refer to our Data Policy for details, including how to opt out of such usage.</li>
    <li><strong>Data retention:</strong> If we do happen to obtain any personal information, including emails or phone numbers perhaps obtained through support requests or other correspondence, it will be treated with the strictest confidentiality. Any such personal information will never be shared with any other entities. Any such personal information will not be retained beyond the resolution of the support request or other correspondence.</li>
    <li><strong>Age limitations:</strong> We do not knowingly contact or do business with children under 13 years of age. If a parent or guardian becomes aware that a child under the age of 13 has attempted to contact and/or do business with us, please advise us by email at contact@somalikidsapp.com so that we may rectify the situation.</li>
    <li><strong>Anonymous usage information:</strong> Our apps and websites may collect anonymous usage information to help improve the quality of our services and applications.</li>
    <li><strong>Internet permissions:</strong> Somali Kids App do typically require internet permissions, for the purpose of providing links to the app store entry of our products and to collect anonymous usage information (see above).</li>
    <li><strong>In-app purchases:</strong> Somali Kids App contain in-app purchases (IAP’s).</li>
    <li><strong>Social media:</strong> Somali Kids App do not interact with any social media sites. We may provide links to our own social media sites for the purpose of providing support and product information.</li>
  </ul>
  <br>
  <h3>QUESTIONS CONCERNING OUR PRIVACY POLICY</h3>
  <p>If you have any question concerning our Privacy Policy please contact us at contact@somalikidsapp.com</p>
  <br>
  <h3>CHANGES TO OUR PRIVACY POLICY</h3>
  <p>We reserve the right to modify our Privacy Policy at any time simply by posting such modification on this site and without any other notification. Any such modification will be effective immediately upon posting on this site. It is your responsibility to review our Privacy Policy from time to time to ensure that you continue to agree with all of its terms.</p>
  <br>
  <h3>LAST UPDATED</h3>
  <p>The Privacy Policy was last updated on 2021/04/11.</p>
</section>


