<article id="welcome">
  <figure class="mobile-c"><img src="../assets/images/splashscreen.gif" alt="Placeholder" width="352" height="628"></figure>
  <img src="../assets/images/ic_launcher.png" alt="Placeholder" class="centerImage" width="450" height="450" style="alignment: center">
  <h2><span>So</span>mali Kids - </h2>
  <p>Learn somali for kids</p>
  <ul class="download-a a">
    <li class="as"><a rel="external" href="./">Download on the App Store</a></li>
    <li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
  </ul>
</article>
<section id="content" class="a">
  <article>
    <header class="heading-a">
      <h3><span class="small">About</span> <span class="strong">About</span> Somali Kids App</h3>
      <p>The goal of this app is to encourage children to learn the Somali language in a fun and educational way. the app is updated at regular intervals to increase the motivation for learning. Using the language continuously is a natural way to introduce it to your child.</p>
    </header>
    <header class="heading-a">
      <h3><span class="small">Screens</span> <span class="strong"></span>See what’s included in the App</h3>
    </header>
  </article>
  <div class="news-d">
    <article>
      <header>
        <figure><img src="../assets/images/screen3.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
    <article>
      <header>
        <figure><img src="../assets/images/screen4.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
    <article>
      <header>
        <figure><img src="../assets/images/screen5.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
    <article>
      <header>
        <figure><img src="../assets/images/screen7.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
    <article>
      <header>
        <figure><img src="../assets/images/fruitsscreen.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
    <article>
      <header>
        <figure><img src="../assets/images/animalsscreen.png" alt="Placeholder" width="310" height="215"></figure>
        <h4><a href="./">Lorem ipsum dolor sit amet</a></h4>
      </header>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </article>
  </div>
</section>
